/**
 * Media Query Demo (note the commented rules)
 **/

* {
  box-sizing: border-box;
}

/*
  The background color will be #ccc
  at browser widths above 768px
*/
body {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-color: lightgray;
}

/*
  The width of the wrapper will be 1024px
  at browser widths above 768px
*/
.wrapper {
  /* Box-model */
  width: 1024px;

  /* Positioning */
  margin: 40px auto;
}

#main-content,
#sidebar {
  /* Box-model */
  width: 500px;
  padding: 30px;
}

#main-content {
  /* Positioning */
  float: left;

  /* Visual */
  background: #fff;
}

#sidebar {
  /* Positioning */
  float: right;

  /* Visual */
  background: #eee;
}
#logo{
  float:left;
}
#logo > h1{
  background-color:green;
  color: white;
  width: 294px;
  height: 75px;
  line-height: 70px;
  font-size: 28px;
  text-align: center;

}

nav {
    float: left;
    
    line-height: 113px;
    margin-left: 120px
}

nav > a{
  margin-left: 25px;
  
}

.auth-image{
      height:250px;
      width: 300px;
}

.main-section{
    float: left;
    width: 326px;
}

.main-section >p{
  line-height:2;

}
footer{
      height: 200px;
    background-color: darkgray;
}

footer >div{
  background-color: green;
  max-width: 768px;
  text-align: center;

}

.sidebar{
    float: left;
    width: 326px;
    margin-left: 60px;
}
/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-color: #333;
  }

  /* The wrapper's width will be 600px */
  .wrapper {
    width: 600px;
  }
}
